DioWeb.Controls.FileUploadLibrary/Service References/DioTransfer/DiomedeStorageTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://transfer.diomedestorage.com" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="DiomedeStorageTransfer" targetNamespace="http://transfer.diomedestorage.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IDiomedeStorageTransfer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://transfer.diomedestorage.com/Imports">
      <xsd:import schemaLocation="http://transfer.diomedestorage.com/DiomedeStorageTransfer.svc?xsd=xsd1" namespace="http://transfer.diomedestorage.com" />
      <xsd:import schemaLocation="http://transfer.diomedestorage.com/DiomedeStorageTransfer.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://transfer.diomedestorage.com/DiomedeStorageTransfer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://transfer.diomedestorage.com/DiomedeStorageTransfer.svc?xsd=xsd3" namespace="http://data.diomedestorage.com" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UploadWithCreateFileRequest">
    <wsdl:part name="parameters" element="tns:UploadWithCreateFileRequest" />
  </wsdl:message>
  <wsdl:message name="UploadWithCreateFileRequest_Headers">
    <wsdl:part name="sessionToken" element="tns:sessionToken" />
    <wsdl:part name="uploadWithCreateFileInfo" element="tns:uploadWithCreateFileInfo" />
  </wsdl:message>
  <wsdl:message name="UploadWithCreateFileResponse">
    <wsdl:part name="parameters" element="tns:UploadWithCreateFileResponse" />
  </wsdl:message>
  <wsdl:message name="CreateFileRequest">
    <wsdl:part name="parameters" element="tns:CreateFileRequest" />
  </wsdl:message>
  <wsdl:message name="CreateFileResponse">
    <wsdl:part name="parameters" element="tns:CreateFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploadRequest">
    <wsdl:part name="parameters" element="tns:UploadRequest" />
  </wsdl:message>
  <wsdl:message name="UploadRequest_Headers">
    <wsdl:part name="sessionToken" element="tns:sessionToken" />
    <wsdl:part name="uploadInfo" element="tns:uploadInfo" />
  </wsdl:message>
  <wsdl:message name="IDiomedeStorageTransfer_Upload_OutputMessage" />
  <wsdl:portType msc:usingSession="false" name="IDiomedeStorageTransfer">
    <wsdl:documentation>
      <summary>The Diomede Storage transfer service.</summary>
    </wsdl:documentation>
    <wsdl:operation name="UploadWithCreateFile">
      <wsdl:documentation>
        <summary>Upload and Create File.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="UploadWithCreateFile" name="UploadWithCreateFileRequest" message="tns:UploadWithCreateFileRequest" />
      <wsdl:output wsaw:Action="http://transfer.diomedestorage.com/IDiomedeStorageTransfer/UploadWithCreateFileResponse" name="UploadWithCreateFileResponse" message="tns:UploadWithCreateFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <wsdl:documentation>
        <summary>Create file.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="CreateFile" name="CreateFileRequest" message="tns:CreateFileRequest" />
      <wsdl:output wsaw:Action="http://transfer.diomedestorage.com/IDiomedeStorageTransfer/CreateFileResponse" name="CreateFileResponse" message="tns:CreateFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <wsdl:documentation>
        <summary>Upload file.</summary>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="Upload" name="UploadRequest" message="tns:UploadRequest" />
      <wsdl:output wsaw:Action="http://transfer.diomedestorage.com/IDiomedeStorageTransfer/UploadResponse" message="tns:IDiomedeStorageTransfer_Upload_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDiomedeStorageTransfer" type="tns:IDiomedeStorageTransfer">
    <wsp:PolicyReference URI="#BasicHttpBinding_IDiomedeStorageTransfer_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadWithCreateFile">
      <soap:operation soapAction="UploadWithCreateFile" style="document" />
      <wsdl:input name="UploadWithCreateFileRequest">
        <soap:header message="tns:UploadWithCreateFileRequest_Headers" part="sessionToken" use="literal" />
        <soap:header message="tns:UploadWithCreateFileRequest_Headers" part="uploadWithCreateFileInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UploadWithCreateFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <soap:operation soapAction="CreateFile" style="document" />
      <wsdl:input name="CreateFileRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <soap:operation soapAction="Upload" style="document" />
      <wsdl:input name="UploadRequest">
        <soap:header message="tns:UploadRequest_Headers" part="sessionToken" use="literal" />
        <soap:header message="tns:UploadRequest_Headers" part="uploadInfo" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiomedeStorageTransfer">
    <wsdl:port name="BasicHttpBinding_IDiomedeStorageTransfer" binding="tns:BasicHttpBinding_IDiomedeStorageTransfer">
      <soap:address location="http://transfer.diomedestorage.com/DiomedeStorageTransfer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>