trunk/DioWeb/Service References/DioTransfer/DiomedeStorageTransfer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://transfer.diomedestorage.com" elementFormDefault="qualified" targetNamespace="http://transfer.diomedestorage.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://transfer.diomedestorage.com/DiomedeStorageTransfer.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://transfer.diomedestorage.com/DiomedeStorageTransfer.svc?xsd=xsd3" namespace="http://data.diomedestorage.com" />
  <xs:element name="UploadWithCreateFileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="content" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sessionToken" nillable="true" type="xs:string" />
  <xs:element xmlns:q2="http://data.diomedestorage.com" name="uploadWithCreateFileInfo" nillable="true" type="q2:UploadWithCreateFileInfo" />
  <xs:element name="UploadWithCreateFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="callbackAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="content" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q4="http://data.diomedestorage.com" name="uploadInfo" nillable="true" type="q4:UploadInfo" />
</xs:schema>